<div class="fanfic-show">

  <div class="first-fanfic clearfix">
    <%= render 'fanfic_card' %>
  </div>

  <form class="review-form card">
  <span class="comment-stars rating">
    <% 10.times do %>
    <i class="fa fa-star"></i>
      <% end %>
    </span>
    <input type="text" name="title" class="title" placeholder="Headline for your review">
    <textarea name="review" class="review"></textarea>
  </form>

  <% 10.times do %>
    <%= render 'comments/comment' %>
  <% end %>
</div>
