<div class="tags">
  <%= render 'layouts/dropdown', description: "Order By", button: "Newly Updated", options: ["Newly Created", "Most Used", "Least Used"] %>

  <% 30.times do %>
    <span class="tag">Manip!Dumbledore</span>
  <% end %>
</div>


