.home {
  margin: 2em 0;
}

.welcome {
//  background: #f7f7f7;
//  clear: both;
//  border: 1px solid #ddd;
//  font-weight: 800;
  @include flash($notice-color);
  .welcome-wrapper {
    @include outer-container;
  }

}

.home-feed {
  @include outer-container;
}

.home-reviews {
  @include span-columns(5);

  .card {
    width: 100%;
  }

}

.home-comments {
  @include span-columns(7);
//  @include shift(1);
}

.home-title {
  margin-bottom: .5em;
}

.home-button {
  font-size: .35em;
}