.fanfic-show {
  margin-top: 1em;

  .card {
    width: 100%;
    padding: 1em 1.618em;
    margin-bottom: .5em;
    textarea {
      margin-bottom: 0;
    }
  }

  form {
    margin-top: 0;
    margin-bottom: 1em;
  }

  &.left {
    @include span-columns(8);
  }&.right {
    @include span-columns(4);
  }

}