.sign-up-page, .login-page, .block-form {
  margin: 1em auto 0 auto;
  @include span-columns(6);
  @include shift(3);
  border: 4px solid #ddd;
  padding: 2em;

  h2 {
    margin-bottom: 1em;
  }

  .form-actions, .shared-links {
    text-align: right;
  }

}

select {
  display: inline-block;
}