<div class="badges">
  <span class="badge">Evil!Harry</span>
  <span class="badge dark">Manip!Dumbledore</span>
  <span class="badge error">Harry/Luna</span>
  <span class="badge notice">Seer!Luna</span>
  <span class="badge success">Powerful!Harry</span>
</div>