<div class="fanfic card">
  <div class="ribbon-wrapper"><div class="ribbon">TOP 40</div></div>
  <div class="card-header">
    Another Card
  </div>
  <div class="card-copy">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
  </div>
  <div class="card-stats">
    <ul>
      <li>98<span>Items</span></li>
      <li>298<span>Things</span></li>
      <li>923<span>Objects</span></li>
    </ul>
  </div>
</div>