<div class="notice">Users who have read Harry Potter and the Methods of rationality have also read: "Jungle in the Bungle",
"Lily Potter and the Art of Being Sysyphus", "Wand (SI)"</div>

<%= render 'refills/card' %>

<form class="review-form">
  <span class="comment-stars rating">
    <% 10.times do %>
    <i class="fa fa-star"></i>
      <% end %>
    </span>
  <input type="text" name="title" class="title" placeholder="Headline for your review">
  <textarea name="review" class="review"></textarea>

</form>

<% 10.times do %>
<%= render 'refills/comments' %>
<% end %>
