<div class="dropdown">
  <div class="dropdown-container">
    <p class="dropdown-description"><%= description %></p>

    <p class="dropdown-button"><%= button %></p>
    <ul class="menu">
      <% options.each do |option| %>
        <li><%= option %></li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".dropdown-button").click(function () {
      $(".menu").toggleClass("show-menu");
      $(".menu > li").click(function () {
        $(".dropdown-button").html($(this).html());
        $(".menu").removeClass("show-menu");
      });
    });
  });
</script>