<div class="search-tools">
  <div class="search-tools-wrapper">
    <div class="filter">
      <label>Word Count</label>

      <div>
        <ol>
          <li>
            <input id="wc-1" type="checkbox">
            <label for="wc-1">Under 5k</label>
          </li>
          <li>
            <input id="wc-2" type="checkbox">
            <label for="wc-2">5k to 10k</label>
          </li>
          <li>
            <input id="wc-3" type="checkbox">
            <label for="wc-3">10k to 20k</label>
          </li>
          <li>
            <input id="wc-4" type="checkbox">
            <label for="wc-4">20k to 50k</label>
          </li>
          <li>
            <input id="wc-5" type="checkbox">
            <label for="wc-5">50k to 100k</label>
          </li>
          <li>
            <input id="wc-6" type="checkbox">
            <label for="wc-6">100k to 200k</label>
          </li>
          <li>
            <input id="wc-7" type="checkbox">
            <label for="wc-7">200k and up</label>
          </li>


        </ol>
      </div>
    </div>
    <div class="filter">
      <label>Main Characters</label>

      <div>
        <ol>
          <li>
            <input id="small" type="checkbox">
            <label for="small">Harry Potter</label>
          </li>
          <li>
            <input id="medium" type="checkbox">
            <label for="medium">Luna Lovegood</label>
          </li>
          <li>
            <input id="large" type="checkbox">
            <label for="large">Severus Snape</label>
          </li>
          <li>
            <input id="small" type="checkbox">
            <label for="small">Draco Malfoy</label>
          </li>
          <li>
            <input id="medium" type="checkbox">
            <label for="medium">Molly Weasley</label>
          </li>
          <li>
            <input id="large" type="checkbox">
            <label for="large">Large</label>
          </li>

          <li>
            <input id="small" type="checkbox">
            <label for="small">Small</label>
          </li>
          <li>
            <input id="medium" type="checkbox">
            <label for="medium">Medium</label>
          </li>
          <li>
            <input id="large" type="checkbox">
            <label for="large">Large</label>
          </li>
          <li>
            <input id="small" type="checkbox">
            <label for="small">Small</label>
          </li>
          <li>
            <input id="medium" type="checkbox">
            <label for="medium">Medium</label>
          </li>
          <li>
            <input id="large" type="checkbox">
            <label for="large">Large</label>
          </li>
          <li>
            <input id="small" type="checkbox">
            <label for="small">Small</label>
          </li>
          <li>
            <input id="medium" type="checkbox">
            <label for="medium">Medium</label>
          </li>
          <li>
            <input id="large" type="checkbox">
            <label for="large">Large</label>
          </li>
        </ol>
      </div>
    </div>
    <div class="filter">
      <label>Maturity Rating</label>

      <div>
        <ol>
          <li>
            <input id="short" type="checkbox">
            <label for="short">General</label>
          </li>
          <li>
            <input id="long" type="checkbox">
            <label for="long">PG</label>
          </li>
          <li>
            <input id="short" type="checkbox">
            <label for="short">PG-13</label>
          </li>
          <li>
            <input id="long" type="checkbox">
            <label for="long">Restricted</label>
          </li>
          <li>
            <input id="long" type="checkbox">
            <label for="long">NC-17</label>
          </li>
        </ol>
      </div>
    </div>

    <div class="filter">
      <label>Cross Overs</label>
      <div>
        <ol>
          <li>
            <input id="short" type="checkbox">
            <label for="short">None</label>
          </li>
          <li>
            <input id="short" type="checkbox">
            <label for="short">Mass Effect</label>
          </li>
          <li>
            <input id="long" type="checkbox">
            <label for="long">Wizard of Oz</label>
          </li>
          <li>
            <input id="short" type="checkbox">
            <label for="short">Bionicles</label>
          </li>
          <li>
            <input id="long" type="checkbox">
            <label for="long">Worm</label>
          </li>
          <li>
            <input id="long" type="checkbox">
            <label for="long">Foobar</label>
          </li>
        </ol>
      </div>
    </div>

    <div class="filter">
      <label>Relationships</label>
      <div>
        <ol>
          <li>
            <input id="short" type="checkbox">
            <label for="short">Hetero</label>
          </li>
          <li>
            <input id="short" type="checkbox">
            <label for="short">Slash</label>
          </li>
          <li>
            <input id="long" type="checkbox">
            <label for="long">Femslash</label>
          </li>
          </li>
        </ol>
      </div>
    </div>

    <div class="filter">
      <label>Genres? Tags</label>
      <div>
        <ol>
          <li>
            <input id="short" type="checkbox">
            <label for="short">None</label>
          </li>
          <li>
            <input id="short" type="checkbox">
            <label for="short">Mass Effect</label>
          </li>
        </ol>
      </div>
    </div>

    <div class="trigger">
      <button>Update</button>
    </div>
  </div>
</div>

<script>
  var Filter = (function () {
    function Filter(element) {
      this._element = $(element);
      this._optionsContainer = this._element.find(this.constructor.optionsContainerSelector);
    }

    Filter.selector = '.filter';
    Filter.optionsContainerSelector = '> div';
    Filter.hideOptionsClass = 'hide-options';

    Filter.enhance = function () {
      var klass = this;

      return $(klass.selector).each(function () {
        return new klass(this).enhance();
      });
    };

    Filter.prototype.enhance = function () {
      this._buildUI();
      this._bindEvents();
    };

    Filter.prototype._buildUI = function () {
      this._summaryElement = $('<label></label>').
          addClass('summary').
          attr('data-role', 'summary').
          prependTo(this._optionsContainer);

      this._clearSelectionButton = $('<button></button>').
          text('Clear').
          attr('type', 'button').
          insertAfter(this._summaryElement);

      this._optionsContainer.addClass(this.constructor.hideOptionsClass);
      this._updateSummary();
    };

    Filter.prototype._bindEvents = function () {
      var self = this;

      this._summaryElement.click(function () {
        self._toggleOptions();
      });

      this._clearSelectionButton.click(function () {
        self._clearSelection();
      });

      this._checkboxes().change(function () {
        self._updateSummary();
      });

      $('body').click(function (e) {
        var inFilter = $(e.target).closest(self.constructor.selector).length > 0;

        if (!inFilter) {
          self._allOptionsContainers().addClass(self.constructor.hideOptionsClass);
        }
      });
    };

    Filter.prototype._toggleOptions = function () {
      this._allOptionsContainers().
          not(this._optionsContainer).
          addClass(this.constructor.hideOptionsClass);

      this._optionsContainer.toggleClass(this.constructor.hideOptionsClass);
    };

    Filter.prototype._updateSummary = function () {
      var summary = 'All';
      var checked = this._checkboxes().filter(':checked');

      if (checked.length > 0) {
        summary = this._labelsFor(checked).join(', ');
      }

      this._summaryElement.text(summary);
    };

    Filter.prototype._clearSelection = function () {
      this._checkboxes().each(function () {
        $(this).prop('checked', false);
      });

      this._updateSummary();
    };

    Filter.prototype._checkboxes = function () {
      return this._element.find(':checkbox');
    };

    Filter.prototype._labelsFor = function (inputs) {
      return inputs.map(function () {
        var id = $(this).attr('id');
        return $("label[for='" + id + "']").text();
      }).get();
    };

    Filter.prototype._allOptionsContainers = function () {
      return $(this.constructor.selector + " " + this.constructor.optionsContainerSelector);
    };

    return Filter;
  })();

  $(function () {
    Filter.enhance();

    $(document).on("click", "body", function(e) {
      console.log(e.target);

      $target = $(e.target);

      if ($target.is('label') || $target.is('input')) {
        return;
      } else {
        $(".filter").find("div").removeClass("hide-options").addClass("hide-options");
      }
    })

  });

</script>