<div class="welcome notice">
  <div class="welcome-wrapper">
    Welcome to HPFic, my humble attempt at making a platform for rating and reviewing Harry Potter Fanfiction.
    First time here? <%= link_to "Sign up" %> and start <%= link_to "submitting" %>
    or <%= link_to "reviewing" %> fanfics. Happy reading!
  </div>
</div>